@{
ViewData["Title"] = "Department";
ViewData["PageDomain"] = "Department";
ViewData["PageDescription"] = "You can create new departments,edit and delete exising departments.";
}

<!-- page top data add button -->
<div class="row mt-3">
	<div class="col-xl-6 col-lg-6">
		<button type="button" id="btnModalDepartment" data-backdrop="static" data-keyboard="false" class="btn btn-info">Add department</button>
	</div>
</div>

<div class="row pb-8 pt-5 pt-md-4">
	<div class="col">
		<div class="card bg-default shadow">
			<div class="card-header bg-transparent border-0">
				<h3 class="text-white mb-0">
					All Departments
				</h3>
			</div>
			<div class="table-responsive">
				<table class="table align-items-center table-dark table-flush">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Department</th>
							<th scope="col">Status</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody id="tableBodyDepartment">  
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalDepartment" style="top:25% !important;" role="modal" tabindex="-1" data-backdrop="false" aria-labelledby="modalDepartment" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="card bg-secondary shadow">
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Create/Modify Department</h3>
						</div>
						<div class="col-4 text-right">
							<button type="button" id="btnDepartmentModalClose" class="close" data-dismiss="modal">&times;</button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<form>
						<h6 class="heading-small text-muted mb-4">Department information</h6>
						<input type="hidden" id="inputHiddenDepartmentId">
						<div class="pl-lg-4">
							<div class="row">
								<div class="col-lg-10">
									<div class="form-group">
										<label class="form-control-label" for="inputDepartmentName">Department Name <span style="color:red">*</span></label>
										<input type="text" id="inputDepartmentName" class="form-control form-control-alternative" placeholder="Department Name">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<div class="custom-control custom-control-alternative custom-checkbox mb-3">
											<input class="custom-control-input" id="inputStatus" type="checkbox" checked>
											<label class="custom-control-label" for="inputStatus">Status</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<hr class="my-4">
					<div class="row">
						<div class="col-2">
							<div class="form-group focused">
								<button type="button" class="btn btn-success" id="btnSaveDepartment">Save</button>
							</div>
						</div>
						<div class="col-2">
							<div class="form-group focused">
								<button type="button" class="btn btn-danger" id="btnCancelDepartment">Cancel</button>
							</div>
						</div>
						<div class="col-lg-8 text-right">
							<div class="form-group focused">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src='~/Script/department.js?rnd=@(Guid.NewGuid())'></script>