<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>@ViewData["Title"] - DocRoute</title>
		<!-- Favicon -->
		<link href="~/img/brand/default.png" rel="icon" type="image/png">
		<!-- Fonts -->
		<link href="~/css/opensans.css" rel="stylesheet">
		<!-- Icons -->
		<link href="~/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
		<link href="~/js/plugins/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
		<!-- CSS Files -->
		<link href="~/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />

        <link href="~/css/sweetalert2.min.css" rel="stylesheet" />

		<!-- jQuery -->
		<script src="~/js/plugins/jquery/dist/jquery.min.js"></script>  

		<!-- jQuery Qr code -->
		<script type="text/javascript" src="~/js/qrcode.js?rnd=@(Guid.NewGuid())"></script>  

		<!-- jQuery print -->
		<script src="~/js/print.min.js"></script>  
		<link href="~/css/print.min.css"rel="stylesheet" type="text/css" />
        
	</head>
	<body class="">
		<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
			<div class="container-fluid">
				<!-- Toggler -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Brand -->
				<a class="navbar-brand pt-0" href="Dashboard">
				<img src="~/img/brand/default.png" class="navbar-brand-img" alt="..." style="max-height: 7.5rem !important;">
				</a>
				<!-- User -->
				<ul class="nav align-items-center d-md-none">
					<li class="nav-item dropdown">
						<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div class="media align-items-center">
								<span class="avatar avatar-sm rounded-circle">
									<img alt="Image placeholder" class="profileImage" >
								</span>
							</div>
						</a>
						<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
							<div class=" dropdown-header noti-title">
								<h6 class="text-overflow m-0">Welcome!</h6>
							</div>
							<div class="dropdown-divider"></div>
							<a href="#" class="dropdown-item btnmyProfile">
							<i class="ni ni-single-02"></i>
							<span>My profile</span>
							</a> 
							<div class="dropdown-divider"></div>
							<a href="#" class="dropdown-item btnLogout">
							<i class="ni ni-user-run"></i>
							<span>Logout</span>
							</a>
						</div>
					</li>
				</ul>
				<!-- Collapse -->
				<div class="collapse navbar-collapse" id="sidenav-collapse-main">
					<!-- Collapse header -->
					<div class="navbar-collapse-header d-md-none">
						<div class="row">
							<div class="col-6 collapse-brand">
								<a href="Dashboard">
								<img src="~/img/brand/default.png">
								</a>
							</div>
							<div class="col-6 collapse-close">
								<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
								<span></span>
								<span></span>
								</button>
							</div>
						</div>
					</div>
					<!-- Navigation -->
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link @(ViewData["PageDomain"] == "Dashboard" ? "active" : "")" href="Dashboard"> 
							<i class="ni ni-tv-2 text-primary"></i> Dashboard
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @(ViewData["PageDomain"] == "UploadHistory" ? "active" : "")" href="UploadHistory"> 
							<i class="ni ni-archive-2 text-primary"></i> Upload History
							</a>
						</li>
						<li class="nav-item">  
							<a class="nav-link @(ViewData["PageDomain"] == "Department" ? "active" : "")" href="Department">
							<i class="ni ni-building text-primary"></i> Department   
							</a>  
						</li>
                        <li class="nav-item">  
							<a class="nav-link @(ViewData["PageDomain"] == "Userlevel" ? "active" : "")" href="Userlevel">
							<i class="ni ni-key-25 text-primary"></i> Userlevel   
							</a>  
						</li>
                        <li class="nav-item">  
							<a class="nav-link @(ViewData["PageDomain"] == "User" ? "active" : "")" href="User">
							<i class="ni ni-single-02 text-primary"></i> User   
							</a>  
						</li>
					</ul>
					<!-- Divider -->
					@* <hr class="my-3">
					<!-- Heading -->
					<h6 class="navbar-heading text-muted">Documentation</h6>
					<!-- Navigation -->
					<ul class="navbar-nav mb-md-3">
						<li class="nav-item">
							<a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/getting-started/overview.html">
							<i class="ni ni-spaceship"></i> Getting started
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/foundation/colors.html">
							<i class="ni ni-palette"></i> Foundation
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/components/alerts.html">
							<i class="ni ni-ui-04"></i> Components
							</a>
						</li>
					</ul> *@
				</div>
			</div>
		</nav>
		<div class="main-content">
			<!-- Navbar -->
			<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
				<div class="container-fluid">
					<!-- Brand -->
					<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href='@ViewData["Title"]'>@ViewData["Title"]</a> 
					<!-- User -->
					<ul class="navbar-nav align-items-center d-none d-md-flex">
						<li class="nav-item dropdown">
							<a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<div class="media align-items-center">
									<span class="avatar avatar-sm rounded-circle">
									<img alt="Image placeholder" class="profileImage" src=''>
									</span>
									<div class="media-body ml-2 d-none d-lg-block">
										<span class="mb-0 text-sm font-weight-bold profileName"></span>
									</div>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
								<div class=" dropdown-header noti-title">
									<h6 class="text-overflow m-0">Welcome!</h6>
								</div>
								<a href="#" class="dropdown-item btnmyProfile">
								<i class="ni ni-single-02"></i>
								<span>My profile</span>
								</a> 
								<div class="dropdown-divider"></div>
								<a href="#" class="dropdown-item btnLogout">
								<i class="ni ni-user-run"></i>
								<span>Logout</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<!-- End Navbar -->
			<!-- Header -->
			<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
				<div class="container-fluid">
					<div class="header-body">
						<div class="col-xl-6 col-lg-6">
							<p class="text-white mt-0 mb-5">
								@ViewData["PageDescription"]
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid mt--9">
				<!--Body Content-->
				@RenderBody()  
				<!-- End Body Content--> 
			</div> 

            <!-- Footer -->
           
                <footer class="footer">
                    <div class="row align-items-center justify-content-xl-between">
                    <div class="col-xl-6">  
                        <div class="copyright text-center text-xl-left text-muted">
                        &copy; @DateTime.Now.Year <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="font-weight-bold ml-1">DocRoute</a>
                        </div>
                    </div> 
                    </div>
                </footer>
               
		</div>
        
		<!--   Core   --> 
		<script src="~/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<!--   Optional JS   -->
		<script src="~/js/plugins/chart.js/dist/Chart.min.js"></script>
		<script src="~/js/plugins/chart.js/dist/Chart.extension.js"></script>
		<!--   Argon JS   -->
		<script src="~/js/argon-dashboard.min.js?v=1.1.0"></script>
		<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>

        <script src="~/js/sweetalert2.min.js"></script>

		<script>
			window.TrackJS &&
			  TrackJS.install({
			    token: "ee6fab19c5a04ac1a32a645abde4613a",
			    application: "argon-dashboard-free"
			  });
		</script>

        <script type="text/javascript" src='~/Script/common.js?rnd=@(Guid.NewGuid())'></script> 

		<script type="text/javascript" src='~/Script/layout.js?rnd=@(Guid.NewGuid())'></script> 
	</body>
</html>