@{
ViewData["Title"] = "Dashboard";
ViewData["PageDomain"] = "Dashboard";
ViewData["PageDescription"] = "You can view pending documents transaction details";
}
 
<div class="row pb-8 pt-5 pt-md-4">
	<div class="col">
		<div class="card bg-default shadow">
			<div class="card-header bg-transparent border-0">
				<h3 class="text-white mb-0"> 
					Document Tranactions
				</h3>
			</div>
			<div class="table-responsive">
				<table class="table align-items-center table-dark table-flush">
					<thead class="thead-dark">
						<tr> 
							<th scope="col">Trasfered By</th> 
							<th scope="col">Uploaded On</th>
							<th scope="col">View</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody id="tbodyTransDoc"> 
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ModalTransferDocument" style="top:25% !important;" role="modal" tabindex="-1" data-backdrop="false" aria-labelledby="ModalTransferDocument" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="card bg-secondary shadow">
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Document</h3>
						</div>
						<div class="col-4 text-right">
							<button type="button" id="btnDepartmentModalClose" class="close" data-dismiss="modal">&times;</button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<form enctype="multipart/form-data">
						<h6 class="heading-small text-muted mb-4">Document transfer</h6>
						<input type="hidden" id="inputHiddenDocumentId">
						<div class="pl-lg-4">
							<div class="row">
								<div class="col-lg-10">
									<div class="form-group">
										<label class="form-control-label" for="inputTransferUser">User <span style="color:red">*</span></label> 
										<select id="inputTransferUser" class="form-control">
											<option value="" selected>- Select -</option>
										</select>
									</div>
								</div>
							</div> 
							<div class="row">
								<div class="col-lg-10">
									<div class="form-group">
										<label class="form-control-label" for="inputTransferRemark">Remark <span style="color:red"></span></label> 
										<textarea id="inputTransferRemark" placeholder="Remark" class="form-control form-control-alternative"></textarea>
									</div>
								</div>
							</div>
						</div>
					</form>
					<hr class="my-4">
					<div class="row">
						<div class="col-2">
							<div class="form-group focused">
								<button type="button" class="btn btn-success" id="btnTransferDocument">Transfer</button>
							</div>
						</div>
						<div class="col-2">
							<div class="form-group focused">
								<button type="button" class="btn btn-danger" id="btnCancelTransfer">Cancel</button>
							</div>
						</div>
						<div class="col-lg-8 text-right">
							<div class="form-group focused">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


 

<script type="text/javascript" src='~/Script/dashboard.js?rnd=@(Guid.NewGuid())'></script>