@{
ViewData["Title"] = "User";
ViewData["PageDomain"] = "User";
ViewData["PageDescription"] = "You can create new user,edit and delete exising users.";
}
<!-- page top data add button -->
<div class="row mt-3">
	<div class="col-xl-6 col-lg-6">
		<button type="button" id="btnModalUser" data-backdrop="static" data-keyboard="false" class="btn btn-info">Add user</button>
	</div>
</div>

<div class="row pb-8 pt-5 pt-md-4"> 
	<div class="col">
		<div class="card bg-default shadow">
			<div class="card-header bg-transparent border-0">
				<h3 class="text-white mb-0">
					All Users
				</h3>
			</div>
			<div class="table-responsive">
				<table class="table align-items-center table-dark table-flush">
					<thead class="thead-dark">
						<tr>
							<th scope="col">User Email</th>
							<th scope="col">Userlevel</th>
                            <th scope="col">Name</th>
                            <th scope="col">Birth On</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Image</th>
                            <th scope="col">Department</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Status</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody id="tableBodyUser">  
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalUser" style="top:25% !important;" role="modal" tabindex="-1" data-backdrop="false" aria-labelledby="modalUser" aria-hidden="true">
<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="card bg-secondary shadow">
			<div class="card-header bg-white border-0">
				<div class="row align-items-center">
					<div class="col-8">
						<h3 class="mb-0">Create/Modify User</h3>
					</div>
					<div class="col-4 text-right">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				</div>
			</div>
			<div class="card-body">
				<form>
					<h6 class="heading-small text-muted mb-4">User information</h6>
					<input type="hidden" id="inputHiddenUserId">
					<div class="pl-lg-4">
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="form-control-label" for="inputEmail">Email (Username) <span style="color:red">*</span></label>
									<input type="text" id="inputEmail" class="form-control form-control-alternative" placeholder="Email (Username)">
								</div>
							</div>
							<div class="col-lg-5">
								<div class="form-group">
									<label class="form-control-label" for="inputUserlevel">Userlevel <span style="color:red">*</span></label>
									<select id="inputUserlevel" class="form-control form-control-alternative">
										<option value="0">Select</option>
									</select>
								</div>
							</div>
						</div>
                        <div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="form-control-label" for="inputFirstName">First Name <span style="color:red">*</span></label>
									<input type="text" id="inputFirstName" class="form-control form-control-alternative" placeholder="First Name">
								</div>
							</div>
                            <div class="col-lg-5">
								<div class="form-group">
									<label class="form-control-label" for="inputLastName">Last Name <span style="color:red">*</span></label>
									<input type="text" id="inputLastName" class="form-control form-control-alternative" placeholder="Last Name">
								</div>
							</div>
						</div>   
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="form-control-label" for="inputPassword">Password <span style="color:red">*</span></label>
									<input type="password" id="inputPassword" class="form-control form-control-alternative" placeholder="Password">
								</div>
							</div>
							<div class="col-lg-5">
								<div class="form-group">
									<label class="form-control-label" for="inputConfirmPassword">Confirm Password <span style="color:red">*</span></label>
									<input type="password" id="inputConfirmPassword" class="form-control form-control-alternative" placeholder="Confirm Password">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<div class="text-muted font-italic">
										<small>password strength: <span id="passwordLabelStrength" class="text-default font-weight-700">Very Weak</span></small>
									</div>
								</div>
							</div>
							<div class="col-lg-5">
								<div class="form-group">
									<div class="text-muted font-italic">
										<small>password match: <span id="passwordLabelMatch" class="text-danger font-weight-700">Not Match</span></small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="form-control-label" for="inputDOB">Date of birth </label>
									<input type="date" id="inputDOB" class="form-control form-control-alternative">
								</div>
							</div>
							<div class="col-lg-5">
								<div class="form-group">
									<label class="form-control-label" for="inputPhone">Phone No. </label>
									<input type="text" id="inputPhone" class="form-control form-control-alternative" placeholder="Phone No.">
								</div>
							</div>
						</div> 
                        <div class="row">
							<div class="col-lg-7">
								<div class="form-group">
									<label class="form-control-label" for="inputProfilePicture">Profile Picture </label>
									<input type="file" id="inputProfilePicture" onchange="setImage(this,'imgProfileImage')" class="form-control form-control-alternative" accept="image/*"> 
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<img id="imgProfileImage" class="card-img-top" src="/img/noimage.png" alt="Card image cap">
								</div> 
							</div>
						</div> 
                        <div class="row">
							<div class="col-lg-5">
								<div class="form-group">
									<label class="form-control-label" for="inputDepartment">Department <span style="color:red">*</span></label>
									<select id="inputDepartment" class="form-control form-control-alternative">
                                        <option value="0">Select</option>
                                    </select>
								</div>
							</div>
                            <div class="col-lg-5">
                                <div class="form-group">&nbsp;</div>
								<div class="form-group">
									<div class="custom-control custom-control-alternative custom-checkbox mb-3">
										<input class="form-control custom-control-input" id="inputDepartmentHead" type="checkbox">
										<label class="form-control-label custom-control-label" for="inputDepartmentHead"> Is Department Head</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<div class="custom-control custom-control-alternative custom-checkbox mb-3">
										<input class="custom-control-input" id="inputStatus" type="checkbox" checked>
										<label class="custom-control-label" for="inputStatus">Status</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<hr class="my-4">
				<div class="row">
					<div class="col-2">
						<div class="form-group focused">
							<button type="button" class="btn btn-success" id="btnSaveUser">Save</button>
						</div>
					</div>
					<div class="col-2">
						<div class="form-group focused">
							<button type="button" class="btn btn-danger" id="btnCancelUser">Cancel</button>
						</div>
					</div>
					<div class="col-lg-8 text-right">
						<div class="form-group focused">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src='~/Script/user.js?rnd=@(Guid.NewGuid())'></script>