@{
ViewData["Title"] = "Upload History";
ViewData["PageDomain"] = "UploadHistory";
ViewData["PageDescription"] = "You can upload documents and view history.";
}


<!-- page top data add button -->
<div class="row mt-6">
	<div class="col-xl-2 col-lg-2">
		<button type="button" id="btnModalDocument" data-backdrop="static" data-keyboard="false" class="btn btn-info">Add document</button> 
	</div>
	<div class="col-xl-2 col-lg-2">
		<button type="button" id="btnModalSearch" data-backdrop="static" data-keyboard="false" class="btn btn-info">Search document</button> 
	</div>
</div>


<div class="row pb-8 pt-5 pt-md-4">
	<div class="col">
		<div class="card bg-default shadow">
			<div class="card-header bg-transparent border-0">
				<h3 class="text-white mb-0"> 
					Document Tranactions
				</h3>
			</div>
			<div class="table-responsive">
				<table class="table align-items-center table-dark table-flush">
					<thead class="thead-dark">
						<tr>  
							<th scope="col">Document No</th>
							<th scope="col">Uploaded On</th>
                            <th scope="col">Status</th>
							<th scope="col">View</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody id="tbodyUploadDocuments"> 
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="ModalDocument" style="top:25% !important;" role="modal" tabindex="-1" data-backdrop="false" aria-labelledby="ModalDocument" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="card bg-secondary shadow">
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Create/Modify Document</h3>
						</div>
						<div class="col-4 text-right">
							<button type="button" id="btnDepartmentModalClose" class="close" data-dismiss="modal">&times;</button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<form enctype="multipart/form-data">
						<h6 class="heading-small text-muted mb-4">Document information</h6>
						<input type="hidden" id="inputHiddenDepartmentId">
						<div class="pl-lg-4">
							<div class="row">
								<div class="col-lg-10">
									<div class="form-group">
										<label class="form-control-label" for="inputDepartmentName">Document <span style="color:red">*</span></label>
										<input type="file" accept=".doc,.docx,.pdf" id="inputDocument" class="form-control form-control-alternative" placeholder="Department">
									</div>
								</div>
							</div> 
							<div class="row">
								<div class="col-lg-10">
									<div class="form-group">
										<label class="form-control-label" for="inputDepartmentName">Remark <span style="color:red"></span></label>
										<textarea id="inputRemark" placeholder="Remark" class="form-control form-control-alternative"></textarea>
									</div>
								</div>
							</div> 
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<div class="custom-control custom-control-alternative custom-checkbox mb-3">
											<input class="custom-control-input" id="inputStatus" type="checkbox" checked>
											<label class="custom-control-label" for="inputStatus">Status</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<hr class="my-4">
					<div class="row">
						<div class="col-2">
							<div class="form-group focused">
								<button type="button" class="btn btn-success" id="btnUploadDocument">Upload</button>
							</div>
						</div>
						<div class="col-2">
							<div class="form-group focused">
								<button type="button" class="btn btn-danger" id="btnCancelDocument">Cancel</button>
							</div>
						</div>
						<div class="col-lg-8 text-right">
							<div class="form-group focused">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="ModalDocumentSearch" style="top:25% !important;" role="modal" tabindex="-1" data-backdrop="false" aria-labelledby="ModalDocumentSearch" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="card bg-secondary shadow">
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Document</h3>
						</div>
						<div class="col-4 text-right">
							<button type="button" id="btnDepartmentModalClose" class="close" data-dismiss="modal">&times;</button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<form enctype="multipart/form-data">
						<h6 class="heading-small text-muted mb-4">Document search</h6>
						<input type="hidden" id="inputHiddenDepartmentId">
						<div class="pl-lg-4">
							<div class="row">
								<div class="col-lg-10">
									<div class="form-group">
										<label class="form-control-label" for="inputDocumentNo">Document No <span style="color:red">*</span></label> 
										<input type="text" class="form-control" id="inputDocumentNo">
									</div>
								</div>
							</div> 
							<div class="row">
								<div class="col-lg-10">
									<div class="form-group">
										<label class="form-control-label" for="inputDocSearchText">Word <span style="color:red">*</span></label> 
										<input type="text" class="form-control" id="inputDocSearchText">
									</div>
								</div>
							</div> 
							<div class="row">
								<div class="col-lg-10">
									<div class="table-responsive">
										<div>
											<table class="table align-items-center table-dark">
												<thead class="thead-dark">
													<tr>
														<th scope="col" class="sort" data-sort="name">Document</th>
														<th scope="col"></th>
													</tr>
												</thead>
												<tbody class="list" id="tbFoundFile"> 
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<hr class="my-4">
					<div class="row">
						<div class="col-2">
							<div class="form-group focused">
								<button type="button" class="btn btn-success" id="btnSearchDocument">Search</button>
							</div>
						</div>
						<div class="col-2">
							<div class="form-group focused">
								<button type="button" class="btn btn-danger" id="btnCancelDocumentSearch">Cancel</button>
							</div>
						</div>
						<div class="col-lg-8 text-right">
							<div class="form-group focused">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ModalTransferDocument" style="top:25% !important;" role="modal" tabindex="-1" data-backdrop="false" aria-labelledby="ModalTransferDocument" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="card bg-secondary shadow">
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Document</h3>
						</div>
						<div class="col-4 text-right">
							<button type="button" id="btnDepartmentModalClose" class="close" data-dismiss="modal">&times;</button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<form enctype="multipart/form-data">
						<h6 class="heading-small text-muted mb-4">Document transfer</h6>
						<input type="hidden" id="inputHiddenDocumentId">
						<div class="pl-lg-4">
							<div class="row">
								<div class="col-lg-10">
									<div class="form-group">
										<label class="form-control-label" for="inputTransferUser">User <span style="color:red">*</span></label> 
										<select id="inputTransferUser" class="form-control">
											<option value="" selected>- Select -</option>
										</select>
									</div>
								</div>
							</div> 
							<div class="row">
								<div class="col-lg-10">
									<div class="form-group">
										<label class="form-control-label" for="inputTransferRemark">Remark <span style="color:red"></span></label> 
										<textarea id="inputTransferRemark" placeholder="Remark" class="form-control form-control-alternative"></textarea>
									</div>
								</div>
							</div>
						</div>
					</form>
					<hr class="my-4">
					<div class="row">
						<div class="col-2">
							<div class="form-group focused">
								<button type="button" class="btn btn-success" id="btnTransferDocument">Transfer</button>
							</div>
						</div>
						<div class="col-2">
							<div class="form-group focused">
								<button type="button" class="btn btn-danger" id="btnCancelTransfer">Cancel</button>
							</div>
						</div>
						<div class="col-lg-8 text-right">
							<div class="form-group focused">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ModalDocumentQRcode" style="top:25% !important;" role="modal" tabindex="-1" data-backdrop="false" aria-labelledby="ModalTransferDocument" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="card bg-secondary shadow">
				<div class="card-header bg-white border-0">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0" id="documentNo">Document No</h3>
						</div>
						<div class="col-4 text-right">
							<button type="button" id="btnDepartmentModalClose" class="close" data-dismiss="modal">&times;</button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<form enctype="multipart/form-data">
						<h6 class="heading-small text-muted mb-4">Document QR Code</h6>
						<input type="hidden" id="inputHiddenDocumentId">
						<div class="pl-lg-4">
							<div id="qrcode"></div>
						</div>
					</form> 
					<hr class="my-4">
					<div class="row">
						<div class="col-lg-8 text-right">
							<div class="form-group focused">
								<button type="button" class="btn btn-default" id="printQR" onclick="QRCode()">Print</button>
							</div>
						</div>
						<div class="col-lg-4 text-right">
							<div class="form-group focused">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>





<script type="text/javascript" src='~/Script/uploadhistory.js?rnd=@(Guid.NewGuid())'></script>