
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>DocRoute - Login</title>
  <!-- Favicon -->
  <link href="~/img/brand/default.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="~/css/opensans.css" rel="stylesheet">
  <!-- Icons -->
  <link href="~/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="~/js/plugins/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="~/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
  
  <link href="~/css/animate.min.css" rel="stylesheet" />
  
  <link href="~/css/sweetalert2.min.css" rel="stylesheet" />

</head>

<body class="bg-default">
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
      <div class="container px-4">
        <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index"> 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a asp-area="" asp-controller="Login" asp-action="Index"> 
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">Welcome to DocRoute</h1>
              <p class="text-lead text-light">Document Management System</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0"> 
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Sign in with credentials</small>
              </div>
              <form role="form">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" id="email" placeholder="Email" type="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" id="password" placeholder="Password" type="password">
                  </div>
                </div>
                @* <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span class="text-muted">Remember me</span>
                  </label>
                </div> *@
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4" id="btnSignin">Sign in</button>
                </div>
              </form>
            </div>
          </div>
          @* <div class="row mt-3">
            <div class="col-6">
              <a href="#" class="text-light"><small>Forgot password?</small></a>
            </div>
            <div class="col-6 text-right">
              <a href="#" class="text-light"><small>Create new account</small></a>
            </div>
          </div> *@
        </div>
      </div>
    </div>
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; @DateTime.Now.Year <a asp-area="" asp-controller="Login" asp-action="Index" class="font-weight-bold ml-1">DocRoute</a>
            </div>
          </div> 
        </div>
      </div>
    </footer>
  </div>
  <!--   Core   -->
  <script src="~/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="~/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!--   Optional JS   -->
  <!--   Argon JS   -->
  <script src="~/js/argon-dashboard.min.js?v=1.1.0"></script>
  
  <script src="~/js/bootstrap-notify.min.js"></script>

  <script src="~/js/sweetalert2.min.js"></script>

  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
      });
  </script>

  <script type="text/javascript" src="~/Script/login.js?rnd=@(Guid.NewGuid())"></script> 

</body>

</html>