@{
ViewData["Title"] = "User Profile";
ViewData["PageDomain"] = "UserProfile";
ViewData["PageDescription"] = "You can view/edit your profile here.";
}


<div class="row pb-8 pt-5 pt-md-4">
    <div class="col-xl-5 order-xl-2">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Modify Password</h3>
                    </div>
                    <div class="col-4 text-right">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <h6 class="heading-small text-muted mb-4">Password Information (<span style="color:red">*</span>
                        required)</h6> 
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="inputCurrentPassword">Current Password <span
                                            style="color:red">*</span></label>
                                    <input type="password" id="inputCurrentPassword"
                                        class="form-control form-control-alternative" placeholder="Password">
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="inputPassword">New Password <span
                                            style="color:red">*</span></label>
                                    <input type="password" id="inputPassword"
                                        class="form-control form-control-alternative" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="inputconfirmPass">Confirm New Password <span
                                            style="color:red">*</span></label>
                                    <input type="password" id="inputconfirmPass"
                                        class="form-control form-control-alternative" placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="text-muted font-italic">
                                        <small>password match: <span id="labelPasswordMatch"
                                                class="text-danger font-weight-700">Not Matching</span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr class="my-4">
                <div class="row">
                    <div class="col-2">
                        <div class="form-group focused">
                            <button type="button" class="btn btn-success" id="btnChangePassword">Change</button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group focused">
                            <button type="button" class="btn btn-danger" id="btnCancelPassword">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-7 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Modify User</h3>
                    </div>
                    <div class="col-4 text-right">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <h6 class="heading-small text-muted mb-4">User information (<span style="color:red">*</span>
                        required)</h6>
                    <input type="hidden" id="inputHiddenUserId">
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="inputUserFirstName">FirstName <span
                                            style="color:red">*</span></label>
                                    <input type="text" id="inputUserFirstName" class="form-control form-control-alternative"
                                        placeholder="First Name">
                                </div>
                            </div>
                             <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="inputUserLastName">LastName <span
                                            style="color:red">*</span></label>
                                    <input type="text" id="inputUserLastName" class="form-control form-control-alternative"
                                        placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="inputEmail">Email <span
                                            style="color:red">*</span></label>
                                    <input type="text" pattern="\d*" id="inputEmail" disabled
                                        class="form-control form-control-alternative" placeholder="Email">
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-lg-6">
								<div class="form-group">
									<label class="form-control-label" for="inputDOB">Date of birth <span
                                            style="color:red">*</span></label>
									<input type="date" id="inputDOB" class="form-control form-control-alternative">
								</div>
							</div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="inputPhone">Phone Number <span
                                            style="color:red"></span></label>
                                    <input type="text" pattern="\d*" id="inputPhone"
                                        class="form-control form-control-alternative" value=""
                                        placeholder="Phone Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
							<div class="col-lg-7">
								<div class="form-group">
									<label class="form-control-label" for="inputProfilePicture">Profile Picture </label>
									<input type="file" id="inputProfilePicture" onchange="setImage(this,'imgProfileImage')" class="form-control form-control-alternative" accept="image/*"> 
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group">
									<img id="imgProfileImage" class="card-img-top" src="/img/noimage.png" alt="Card image cap">
								</div> 
							</div>
						</div>  
                    </div>
                </form>
                <hr class="my-4">
                <div class="row">
                    <div class="col-2">
                        <div class="form-group focused">
                            <button type="button" class="btn btn-success" id="btnSaveUser">Save</button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group focused">
                            <button type="button" class="btn btn-danger" id="btnCancelUser">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src='~/Script/userprofile.js?rnd=@(Guid.NewGuid())'></script>